@import '~styles/variables';
@import '~styles/buttons';

.outerHeaderContainer {
  width: 100%;
  background-color: $dark-blue;
}

.header {
  display: flex;
  color: $white;
  height: 7rem;
  align-items: center;
  line-height: 2rem;
  max-width: $max-content-width;
  position: relative;
  margin: 0 auto;
}

.leftHeaderItems {
  position: relative;

  .headerButton {
    padding-right: 2rem;
  }
}

.rightHeaderItems {
  position: absolute;
  right: 2rem;
  
  > div {
    display: inline-block;
    padding-left: 2rem;
  }
}

.accountMenuContainer {
  margin-right: 20px;
}

.flexContainer {
}

.logoContainer {

  img {
    height: 7rem;
  }
}

.menuItemsContainer {
  display: inline-flex;
  align-items: baseline;
  margin-right: 1rem;
  flex: 2;

}

svg.accountIcon {
  color: $white !important;
  height: 2rem !important;
  width: 2rem !important;
  padding-right: 0.5rem;
}

.menuIconContainer {
  display: none;
  cursor: pointer;
}

.headerButton {
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1.1rem;
}


@media (max-width: $screen-md-min) {

  .menuIconContainer {
    margin-left: 1rem;
    display: inline-flex;

    svg {
      width: 3rem !important;
      height: 3rem !important;
      color: $white !important;
    }
  }

  .menuItemsContainer {
    display: none;
  }
}
