@import '~styles/variables';
@import '~styles/buttons';

.menuItemsContainer {
  display: flex;
  align-items: baseline;

  > div {
    margin-left: 0.5rem;
  }
}

.accountMenuContainer {
  margin-right: 20px;
}

.flexContainer {
}

.logoContainer {

  img {
    height: 8rem;
  }
}

.appBar {
  background-color: rgb(255, 255, 255) !important;
  align-items: center;
}

.rightIconsContainer {
  display: inline-flex;
  margin-right: 1rem;

  .rightIcon {
    display: inline-flex !important;
    flex: 1;
  }
}

svg.accountIcon {
  color: $black !important;
  height: 2rem !important;
  width: 2rem !important;
  padding-right: 0.5rem;
}

.menuIconContainer {
  display: none;
  cursor: pointer;
}

.headerButton {
  font-size: 1.1rem;
  line-height: 1.1rem;
}


@media (max-width: $screen-sm-min) {
  .menuIconContainer {
    margin-right: 20px;
    margin-top: -8px;
    display: inline-flex;
  }

  .rightIconsContainer {
    display: none;
  }
}

