
@import '~styles/variables';
@import '~styles/nav';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

h1 {
  @extend .titleContainer;
}

h2 {
  font-size: 1.2rem;
  color: $brick-red;
  font-weight: 500;
}

h3 {
  font-size: 1.0rem;
  color: lighten($black, 15%);
  font-weight: 500;
}

p {
  font-size: 0.8rem;
  color: lighten($black, 10%);
  font-weight: 400;
}

p a {
  text-decoration: underline;
  color: $brick-red;
  font-style: normal;
  text-transform: uppercase;
  padding: 0px !important;
}
