@import '~styles/variables';

.navMenuItem {
  color: $brick-red !important;
  margin-left: 1rem !important;
}

.subheader {
  // font-size: 1.2rem !important;
  // margin-top: 2rem !important;
}

.divider {
  margin-top: 2rem !important;
}

.userMenuItem {
  background-color: $dark-teal !important;
  color: darken($white, 5%) !important;
  margin-bottom: 2rem !important;

  .materialIcons {
    color: darken($white, 5%) !important;
  }

  .userContainer {
    display: flex;
    align-items: center;

    .userIconContainer {
      flex: 1;
    }

    .accountInfoContainer {
      flex: 2;
      line-height: 1.5;
      overflow: hidden;
    }
  }
}

.bottomNavContainer {
  position: fixed;
  bottom: 1rem;
}
