version: "3.0"
services:
  web:
    image: upriseapp_web:latest
    env_file: ./app/prod.env
    command: npm run prod
    restart: on-failure

  nginx:
    env_file: ./nginx/prod.env
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./app/client:/src/app/client
      - letsencrypt-keys-volume:/etc/letsencrypt
    networks:
      letsencrypt-nginx:
        aliases:
          - nginx
      nginx-web:
        aliases:
          - nginx
    restart: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "https://$$NGINX_HOST"]
      interval: 1m30s
      timeout: 10s
      retries: 3

  db:
    restart: on-failure

  letsencrypt:
    image: quay.io/letsencrypt/letsencrypt:latest
    command:  bash -c "sleep 6 && certbot certonly --standalone -d staging.uprise.me --text --agree-tos --email tech@uprise.org --server https://acme-v01.api.letsencrypt.org/directory --rsa-key-size 4096 --verbose --renew-by-default --standalone-supported-challenges http-01"
    entrypoint: ""
    volumes:
      - letsencrypt-keys-volume:/etc/letsencrypt
      - letsencrypt-lib-volume:/var/lib/letsencrypt
    ports:
      - 433
      - 80
    environment:
      - TERM=xterm
      - TZ=America/Los_Angeles
    networks:
      letsencrypt-nginx:
        aliases:
          - letsencrypt

volumes:
  letsencrypt-keys-volume:

  letsencrypt-lib-volume:

networks:
  letsencrypt-nginx:
