version: '2'
services:
  web:
    build: ./app
    volumes:
      - "./app/package.json:/src/app/package.json"
      - "./app/client:/src/app/client"
      - "./app/server:/src/app/server"
    ports:
      - "127.0.0.1:3030:3000"
      - "127.0.0.1:8888:8888"
      - "127.0.0.1:5859:5859"
      - "127.0.0.1:5857:5857"
    links:
      - "db:postgres"
      - redis
    working_dir: /src/app
    command: npm run dev

  nginx:
    build: nginx
    restart: always
    volumes:
      - /www/public
      - ./nginx:/opt/docker
    volumes_from:
      - web
    links:
      - web:web
    env_file: ./nginx/dev.env
    entrypoint: /opt/docker/entrypoint.sh

  db:
    build: ./postgres
    environment:
      - POSTGRES_USER=postgres
      - TZ=America/Los_Angeles

  redis:
    image: redis:latest
    command: redis-server --appendonly yes
    volumes:
      - /data
