version: "3.0"
services:
  web:
    build: ./app
    env_file: ./app/dev.env
    ports:
      - "127.0.0.1:3030:3000"
      - "8888:8888"
      - "127.0.0.1:5859:5859"
      - "127.0.0.1:5857:5857"

  nginx:
    ports:
      - 8080:80
      - 4443:443
    env_file: ./nginx/dev.env
    healthcheck:
      test: ["CMD", "curl", "-f", "https://localhost"]
      interval: 1m30s
      timeout: 10s
      retries: 3
