version: "3.0"
services:
  web:
    build: ./app
    volumes:
      - ./app/package.json:/src/app/package.json
      - ./.git:/src/.git
      - ./app/client:/src/app/client
      - ./app/server:/src/app/server
      # Sync up the container time with the host time.
      # Note: This will throw errors on Macs, which lack /etc/timezone.
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

    ports:
      - 127.0.0.1:3030:3000
      - 127.0.0.1:8888:8888
      - 127.0.0.1:5859:5859
      - 127.0.0.1:5857:5857
    links:
      - db:postgres
      - redis
    working_dir: /src/app
    command: npm run dev
    restart: always

  nginx:
    build: nginx
    restart: always
    volumes:
      - ./nginx:/opt/docker
      - ./app/client:/src/app/client
      # Sync up the container time with the host time.
      # Note: This will throw errors on Macs, which lack /etc/timezone.
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    links:
      - web:web
    entrypoint: /opt/docker/entrypoint.sh

  db:
    build: ./postgres
    env_file: ./postgres/db.env
    volumes:
      - db-data:/var/lib/postgresql/data
      # Sync up the container time with the host time.
      # Note: This will throw errors on Macs, which lack /etc/timezone.
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: always

  redis:
    image: redis:latest
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data
      # Sync up the container time with the host time.
      # Note: This will throw errors on Macs, which lack /etc/timezone.
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  db-backup:
    build: ./postgres-backup
    links:
      - db:postgres
    env_file: ./postgres-backup/backup.env
    volumes:
      # Sync up the container time with the host time.
      # Note: This will throw errors on Macs, which lack /etc/timezone.
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

volumes:
  redis-data:

  db-data:

  nginx-public:
