version: '2'
services:
  web:
    build: ./app
    volumes:
      - "./app/client:/src/app/client"
      - "./app/server:/src/app/server"
    ports:
      - "3030:3000"
      - "5859:5859"
      - "5857:5857"
    links:
      - "db:postgres"
    env_file: ./app/dev.env
    working_dir: /src/app
    command: npm start

  nginx:
    image: nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - /www/public
      - ./nginx:/opt/docker
    volumes_from:
      - web
    links:
      - web:web
    environment:
     - NGINX_HOST=localhost
     - NGINX_PORT=80
    entrypoint: /opt/docker/entrypoint.sh

  db:
    build: ./postgres
    environment:
      - POSTGRES_USER=postgres
