version: '2'
services:
  web:
    build: ./app
    volumes:
      - "./app/client:/src/app/client"
      - "./app/server:/src/app/server"
    ports:
      - "127.0.0.1:3030:3000"
      - "127.0.0.1:8888:8888"
      - "127.0.0.1:5859:5859"
      - "127.0.0.1:5857:5857"
    links:
      - "db:postgres"
      - redis
    # env_file: ./app/prod.env
    env_file: ./app/dev.env
    working_dir: /src/app
    command: npm start

  nginx:
    build: nginx
    restart: always
    ports:
      - "8080:80"
      - "4443:443"
    volumes:
      - /www/public
      - ./nginx:/opt/docker
    volumes_from:
      - web
      - letsencrypt
    links:
      - web:web
      - letsencrypt:letsencrypt
    # env_file: ./nginx/prod.env
    env_file: ./nginx/dev.env
    entrypoint: /opt/docker/entrypoint.sh

  db:
    build: ./postgres
    environment:
      - POSTGRES_USER=postgres
      - TZ=America/Los_Angeles

  redis:
    image: redis:latest
    command: redis-server --appendonly yes
    volumes:
      - /data

  letsencrypt:
    image: quay.io/letsencrypt/letsencrypt:latest
    command:  bash -c "sleep 6 && certbot certonly --standalone -d staging.uprise.me --text --agree-tos --email tech@uprise.org --server https://acme-staging.api.letsencrypt.org/directory --rsa-key-size 4096 --verbose --renew-by-default --standalone-supported-challenges http-01"
    # command:  bash -c "sleep 6 && certbot certonly --standalone -d staging.uprise.me --text --agree-tos --email tech@uprise.org --server https://acme-v01.api.letsencrypt.org/directory --rsa-key-size 4096 --verbose --renew-by-default --standalone-supported-challenges http-01"
    entrypoint: ""
    volumes:
      - /etc/letsencrypt
      - /var/lib/letsencrypt
    ports:
      - "433"
      - "80"
    environment:
      - TERM=xterm
      - TZ=America/Los_Angeles
