{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "max-len": ["error", 150],
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-unused-vars": ["error", { "args": "none" }],
    "react/forbid-prop-types": ["error", { "forbid": ["array", "any"] }]
  },
  "env": {
    "browser": true
  }
}
