DATABASE_USER=postgres
DATABASE_PASSWORD=YOUR_PASSWORD_HERE
DATABASE_NAME=postgres
DATABASE_PORT=5432
DATABASE_HOST=postgres
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID_HERE
AWS_SECRET_ACCESS_KEY=YOUR_AWS_ACCESS_KEY_SECRET_HERE
AWS_S3_BUCKET_NAME=YOUR_AWS_S3_BUCKET_NAME
AWS_S3_REGION=us-west-1
AWS_S3_PREFIX=backups
POSTGRES_EXTRA_OPTS=--schema=app
