<% if (hasLocation) { %>
<div>
  <%= (action.city && action.city + ', ') %><%= (action.state && action.state) %>
</div>
<br/>
<% } %>

<% if (!action.ongoing) { %>
<div><%= prettyDate %></div><br/>
<% } %>
