.header {
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.termsContainer {
  max-height: 80vh;
  overflow-y: scroll;
  text-align: left;
  padding: 0px 2rem 2rem 2rem;
}

.button {
  margin: 10px;
}

