DISABLE_NOTIFIER=true
DATABASE_USER=uprise
DATABASE_PASSWORD=YOUR_PASSWORD_HERE
DATABASE_NAME=postgres
DATABASE_PORT=5432
DATABASE_HOST=postgres
SESSION_SECRET_KEY=YOUR_SESSION_KEY_HERE
POSTMARK_SECRET_KEY=YOUR_POSTMARK_KEY_HERE
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID_HERE
AWS_ACCESS_KEY_SECRET=YOUR_AWS_ACCESS_KEY_SECRET_HERE
AWS_S3_BUCKET_NAME=YOUR_AWS_S3_BUCKET_NAME
AWS_S3_REGION=us-west-1
AWS_S3_ENDPOINT=s3-us-west-1
DEBUG=app,express:*
NODE_DEBUG=true
NODE_ENV=development
SERVER_BASE_URL=http://localhost:8080/api
CLIENT_BASE_URL=http://localhost:8080/
REDIS_PORT=6379
REDIS_HOST=redis
TZ=America/Los_Angeles
SENTRY_PRIVATE_DSN=YOUR_PRIVATE_SENTRY_DSN
SENTRY_PUBLIC_DSN=YOUR_PUBLIC_SENTRY_DSN
GIT_DISCOVERY_ACROSS_FILESYSTEM=1
BUNDLE_ANALYZER_HOST=0.0.0.0
BUNDLE_ANALYZER_PORT=8888
GOOGLE_UA_ID=YOUR_GOOGLE_UA_ID_HERE
