@import '~styles/variables';
@import '~styles/buttons';

.dropzoneContainer {
  display: flex;
  text-align: center;
  justify-content: center;
}

.dropzone {
  cursor: pointer;
}

.instructions {
  margin-top: 1rem;
}

.gridCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
}
