@import '~styles/variables';
@import '~styles/buttons';


.gridCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
}
