@import '~styles/variables';
@import '~styles/buttons';

.container {
  font-size: 1.1rem !important;
}

.dropdownItemsContainer {
  margin-top: 1rem;

  div {
    font-size: 1.1rem !important;
  }
}

.dropdownMenu {
  padding: 0px !important;
}

.dropdownButton {
  @extend .lowerCaseButton;
  button span {
    font-size: 1.1rem !important;
  }
}

.menuOpen {
  .dropdownButton {
    margin-bottom: -2px;
    border-bottom: 2px solid $brick-red;
  }
}
