@import '~styles/variables';
@import '~styles/buttons';

.container {
  font-size: 1.1rem !important;
}

.dropdownItemsContainer {
  margin-top: 1rem;
  padding: 1rem;

  div {
    font-size: 1.1rem !important;
  }
}

.dropdownMenu {
  padding: 0px !important;
}

.dropdownItemText {
  cursor: pointer;
  color: $brick-red !important;
  padding: 1rem;
}

.dropdownButton {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  line-height: 1.1rem;

  svg {
    color: $white !important;
  }
}

.menuOpen {
  .dropdownButton {
    margin-bottom: -2px;
  }
}
