@import '~styles/variables';

.searchBarContainer {
  display: block;
  text-align: center;

  >form {
    border-bottom: 1px solid $dark-blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  :global .searchBarInput {
    width: 100% !important;
    height: 2rem !important;
    font-size: 1.2rem !important;

    div:first-child {
      line-height: 2rem !important;
      bottom: inherit !important;
    }
  }
}
