@import '~styles/variables';

.primaryButton button {
  background-color: lighten($brick-red, 25%) !important;
  span {
    color: darken($brick-red, 10%) !important;
  }
}

.secondaryButton button {
  background-color: lighten($azure, 40%) !important;
  span {
    color: darken($azure, 20%) !important;
  }
}

.lowerCaseButton button {
  span {
    text-transform: none !important;
  }
}
