@import '~styles/variables';

.navHeader {
  width: 100%;
  display: flex;
  color: lighten($azure, 10%);
  height: 3rem;
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  justify-content: left;

  :global .material-icons {
    margin-left: 1rem;
    margin-right: 1rem;
    color: darken($white, 30%) !important;
  }
}

.navHeader.organizeNavHeader,
.navHeader.volunteerNavHeader,
.navHeader.searchNavHeader,
.navHeader.settingsNavHeader {
  color: $brick-red;
}

.navHeader.searchNavHeader,
.navHeader.volunteerNavHeader,
.navHeader.settingsNavHeader {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.pageHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 5rem;
  color: $brick-red !important;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem 0px;
}

.pageSubHeader, .campaignHeader, .actionHeader, .settingsHeader, .titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem 0px;
  color: darken($azure, 20%) !important;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 500;
}

.actionHeader {
  border-bottom: none;
  font-weight: 500;
  color: lighten($azure, 20%) !important;
}

.navList {
  padding: 0px !important;
  border: 1px solid darken($white, 10%);

  span {
    font-size: 1rem !important;
  }
}
