// Colors

$brick-red: #d62938;
$fire-red: #c00000;
$dark-teal: #0a3b42;
$azure: #32779a;
$black: #000;
$white: #fff;

// Fonts
$font-family: "Roboto", Helvetica, Arial, sans-serif;


// Layout
$max-content-width: 1000px;


// Media Query Screen Sizes
$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */
