// Colors

$red: #990000;
$brick-red: #d62938;
$fire-red: #c00000;
$dark-teal: #0a3b42;
$dark-blue: #0e4053;
$azure: #32779a;
$black: #000;
$light-grey: lighten($black, 90%);
$grey: lighten($black, 50%);
$white: #fff;
$light-grey: darken($white, 10%);
$medium-grey: darken($white, 50%);
$dark-grey: darken($white, 90%);

// Fonts
$font-family: "Roboto", Helvetica, Arial, sans-serif;


// Layout
$max-content-width: 1100px;


// Media Query Screen Sizes
$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */
