@import '~styles/variables';

.outerContainer {
  width: 100%;
  margin-bottom: 4rem;

  .innerContainer {
    width: 90%;
    margin: 1rem 5% 0 5%;

    .campaignHeader {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: $azure;
      font-size: 1.6rem;
      text-align: center;
      align-items: center;
    }

    .titleContainer {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: darken($azure, 10%);
      text-align: center;
      font-size: 2rem;
    }

    .dateTimePlaceContainer {
      color: lighten($azure, 10%);
      font-size: 1.2rem;
    }

    .contactContainer {
      font-size: 1.2rem;
      color: $fire-red;

      a { 
        color: $fire-red;
        margin-left: 1rem;
      }
    }

    .header {
      color: lighten($azure, 10%);
      font-size: 1.2rem;
      margin: 1rem 0 0rem 0;
    }

    .detailLine {
      color: lighten($black, 10%);
      margin-left: 1rem;
    }

    .descriptionContainer {
      border: 1px solid darken($white, 20%);
      padding: 1rem;
      margin: 2rem auto;
      color: $azure;
      white-space: pre-wrap;
    }

    .attendingContainer {
      text-align: center;
      margin: 1rem auto 1rem auto;

      button {
        background-color: lighten($brick-red, 25%) !important;
        span {
          color: darken($brick-red, 10%) !important;
        }
      }
    }
  }
}
