@import '~styles/variables';

.outerContainer {
  width: 100%;

  .campaignHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8rem;
    background-color: $azure;
    color: darken($white, 5%) !important;
    font-size: 2rem;
    font-weight: 300;

    :global .material-icons {
      color: darken($white, 5%) !important;
    }
  }

  .innerContainer {
    width: 90%;
    margin: 1rem 5% 0 5%;

    .titleContainer {
      color: darken($azure, 20%);
      padding: 1rem;
      font-size: 1.6rem;
      margin-top: 2rem;
      text-align: center;
      border: 1px solid rgba($black, 0.1);
    }

    .websiteUrlContainer {
      margin-top: 2rem;
      text-align: center;
      padding: 1rem;
      border: 1px solid rgba($black, 0.1);

      a {
        color: $brick-red !important;
      }
    }

    .contactContainer {
      font-size: 1.2rem;
      color: $fire-red;
      margin-top: 1rem;

      a { 
        color: $fire-red;
        margin-left: 1rem;
      }
    }

    .header {
      color: lighten($azure, 10%);
      font-size: 1.2rem;
      margin: 1rem 0 0rem 0;
    }

    .detailLine {
      color: lighten($black, 10%);
      margin-left: 1rem;
    }

    .descriptionContainer {
      color: $azure;
      white-space: pre-wrap;
    }

  }
}
