@import '~styles/variables';
@import '~styles/buttons';
@import '~styles/modals';


.outerContainer {

  .innerContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .subjectContainer {
    border: 1px solid darken($white, 30%);
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem !important;
  }

  .contentContainer {
    border: 1px solid darken($white, 30%);
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .detailLine {
    color: $azure;
    margin-top: 0.3rem;
  }

  .sendButtonContainer {
    width: 100%;
    text-align: center;
  }

  @extend .primaryButton;
}
