@import '~styles/variables';
@import '~styles/buttons';

.outerFooterContainer {
  flex-shrink: 0;
  background-color: $light-grey;
}

.footer {
  margin: 1rem auto 0rem auto;
  max-width: $max-content-width;
}

.footerRow {
  display: flex;
  justify-content: flex-start;
}

.footerColumn {
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1;
  margin: 0rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
}

.sectionHeader {
  margin-bottom: .2rem;
  font-weight: 500;
}

.addressesList > div:nth-child(1),
.addressesList > div:nth-child(3) {
  margin-bottom: 1rem;
}

.logoImage {
  width: 35%;
}
