@import '~styles/variables';
@import '~styles/buttons';
@import '~styles/modals';

.outerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @media (max-width: $screen-sm-min) {
    margin: 0rem 0rem 1rem 0rem;
  }
}

.innerContainer {
  display: block;
  flex: 1;
  text-align: center;
  max-width: $max-content-width - 100px;

}

.formContainer {
  padding: 1rem 4rem 1.5rem 3rem;

  @media (max-width: $screen-sm-min) {
    padding: 0px 1rem;
  }
}

.form {
  text-align: center;
}

.button {
  margin: 30px 10px 10px 10px;
  display: inline-block;
}

.organizeButton {
  
  @extend .button;
  @extend .primaryButton;
}

.loginButton {
  @extend .secondaryButton;
  margin: 1rem auto 0rem auto;
}

.signupButton {
  @extend .secondaryButton;
  font-size: 2rem;

  button {

    height: 4rem !important;
    padding: 1rem !important;
    
    span {
      font-size: 2rem !important;
      font-weight: 500 !important;
      text-transform: none !important;
    }
  }
}

.textFieldContainer {
  display: flex;
  text-align: left;

  input, label {
    font-size: 1.1rem !important;
  }
}

.textFieldContainer.centered {
  justify-content: center;
}

.textareaContainer {
  margin-top: 1rem;
  border: 1px solid darken($white, 20%);
  padding: 1rem;
}

// Annoying hack to line up hint text with textarea input
.textareaContainer div:first-child div:first-child {
  bottom: inherit !important;
  top: 12px !important;
}

.toggleContainer {
  font-size: 1.1rem;
  text-align: left;
}

.helpText {
  color: lighten($azure, 10%);
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
}

.sectionLabel {
  margin: 3rem 0 0 0;
  text-align: left;
  font-size: 1.3rem;
  color: $azure;
}

.forgotPassword {
  display: block;
  padding: 10px 0px 20px 0px;
}

.loginHeader {
  font-size: 1.8rem;
  color: darken($azure, 20%);
  margin-top: 3rem;

  @media (max-width: $screen-sm-min) {
    margin-top: 1rem;
  }
}

.keywordsContainer {

  .keywordsInputContainer {
    margin-top: 0.5rem;
    padding: 0px !important;
  }

  .selectedKeywordsContainer {
    margin-top: 0.5rem;
    width: 100%;
  }
}

.loginContainer {
  padding-top: 1rem;
  text-align: center;

  @media (max-width: $screen-sm-min) {
    padding-top: 0.5rem;
  }

  > p {
    font-size: 1.5rem;
    color: $fire-red;

    @media (max-width: $screen-sm-min) {
      font-size: 1rem;
      margin: 0px;
    }
  }
}

.touchIcon {
  cursor: pointer;
  color: $brick-red;
  margin: 1rem 0;
  text-align: left;

  svg {
    color: $brick-red !important;
  }
}

.shiftLabel {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-end;
}
