@import '~styles/variables';
@import '~styles/buttons';
@import '~styles/modals';
@import '~styles/sections';
@import '~styles/headers';

.outerContainer {
  justify-content: center;
}

.innerContainer {
  text-align: center;

}

.formContainer {
  padding: 2rem;

  @media (max-width: $screen-sm-min) {
    padding: 1rem;
  }
}

.flexForm {
  display: flex;
  flex-direction: column;
}

.form {
  text-align: center;
  max-width: ($max-content-width / 2);
  margin-left: 2rem;
}

.button {
  margin: 2rem 1rem 1rem 1rem;
  display: inline-block;
  > div {
    box-shadow: none !important;
  }

  button {
    cursor: pointer;
    border: 0;
    transition: background 200ms ease;
  }
}

.organizeButton {

  @extend .button;
  @extend .primaryButton;
}

.loginButton {
  @extend .secondaryButton;
  margin: 1rem auto 0rem auto;
  width: 256px;
  padding: 1rem;
}

.signupButton {
  @extend .secondaryButton;
  font-size: 2rem;

  button {

    height: 4rem !important;
    padding: 1rem !important;

    span {
      font-size: 2rem !important;
      font-weight: 500 !important;
      text-transform: none !important;
    }
  }
}

.textFieldContainer {
  display: flex;
  text-align: left;

  input, label {
    font-size: 1.1rem;
  }
  input[disabled] {
    margin-top: 0 !important;
  }
}

.textFieldContainer.centered {
  justify-content: center;
}

.textareaContainer {
  margin-top: 1rem;
  border: 1px solid darken($white, 20%);
  padding: 1rem;
}

// Annoying hack to line up hint text with textarea input
.textareaContainer div:first-child div:first-child {
  bottom: inherit !important;
  top: 12px !important;
}

.toggleContainer {
  font-size: 1.1rem;
  text-align: left;
}

.helpText {
  color: lighten($azure, 10%);
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
}

.sectionLabel {
  margin: 3rem 0 0 0;
  text-align: left;
  font-size: 1.3rem;
  color: $azure;
}

.errorMessage {
  color: $fire-red;
}

.forgotPasswordLink {
  color: $black !important;
  display: inline-block;
  padding: 0.25rem 1rem;
  background-color: $light-grey;
  border: 1px solid darken($light-grey, 20%);
  text-decoration: none;
  font-size: 0.8rem;
  transition: background 200ms ease;
  &:hover {
    background-color: darken($light-grey, 10%)
  }
}

.signUpLink {
  color: $blue;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.loginHeader {
  font-size: 1.8rem;
  color: darken($azure, 20%);
  margin-top: 3rem;

  @media (max-width: $screen-sm-min) {
    margin-top: 1rem;
  }
}

.keywordsContainer {

  .keywordsInputContainer {
    margin-top: 0.5rem;
    padding: 0px !important;
  }

  .selectedKeywordsContainer {
    margin-top: 0.5rem;
    width: 100%;
  }
}

.loginContainer {
  background-color: $white;
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 0 0 3rem;
  text-align: center;

  @media (max-width: $screen-sm-min) {
    padding-top: 0.5rem;
  }

  > p {
    @media (max-width: $screen-sm-min) {
      font-size: 1rem;
      margin: 0;
    }
  }
}

.touchIcon {
  cursor: pointer;
  color: $brick-red;
  margin: 1rem 0;
  text-align: left;

  svg {
    color: $brick-red !important;
  }
}

.dateWithShiftsContainer {
  margin-bottom: 2rem;

  > hr {
    background-color: $black !important;
  }
}

.dateShiftContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.shiftContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.removeDateContainer,
.removeShiftContainer {
  margin-left: 1rem;
}

.dateShiftPicker, .shiftPicker {
  display: flex;
  text-align: left;
  align-items: baseline;
}

.shiftTimePicker {
  max-width: 5rem;
}

.shiftLabel {
  margin-right: 1rem;
}

.settingsHeader {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem 2rem 0.5rem 2rem;
  text-align: left;
  border-bottom: 1px solid $azure;
  max-width: ($max-content-width / 2);
}

.formText {
  max-width: ($max-content-width / 2);
  margin: 2rem 0 0 2rem;
  text-align: left;
}

.formHeader {
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: 500;
}
.formBody {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.formInnerContent {
  margin: 0 2rem 1rem;
}

.link {
  text-decoration: underline;
}

.uploadProfileImageContainer {
  max-width: 10rem;
  margin: 0;
}

.asideContent {
  background-color: $light-grey;
  padding: 1rem;
  margin: 1rem 0;
}
