@import '~styles/variables';
@import '~styles/buttons';
@import '~styles/inputs';
@import '~styles/modals';

.outerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @media (max-width: $screen-sm-min) {
    margin: 0rem 0rem 1rem 0rem;
  }
}

.innerContainer {
  display: block;
  flex: 1;
  text-align: center;
  max-width: $max-content-width - 100px;

}

.formContainer {
  padding: 1rem 4rem 1.5rem 3rem;

  @media (max-width: $screen-sm-min) {
    padding: 0px 1rem;
  }
}

.form {
  text-align: center;
}

.button {
  margin: 30px 10px 10px 10px;
  display: inline-block;
}

.organizeButton {
  
  @extend .button;
  @extend .primaryButton;
}

.loginButton {
  @extend .secondaryButton;
  margin: 1rem auto 0rem auto;
}

.signupButton {
  @extend .secondaryButton;
  font-size: 2rem;

  button {

    height: 4rem !important;
    padding: 1rem !important;
    
    span {
      font-size: 2rem !important;
      font-weight: 500 !important;
      text-transform: none !important;
    }
  }
}

.textFieldContainer {
  display: flex;
  text-align: left;
  margin-top: -1rem;

  input, label {
    font-size: 1.1rem !important;
  }
}

.textFieldContainer.centered {
  justify-content: center;
}

.textareaContainer {
  margin-top: 1rem;
  border: 1px solid darken($white, 20%);
  padding: 1rem;
}

// Annoying hack to line up hint text with textarea input
.textareaContainer div:first-child div:first-child {
  bottom: inherit !important;
  top: 12px !important;
}

.toggleContainer {
  font-size: 1.1rem;
  text-align: left;
  margin-top: 1rem;
}

.inputHeader {
  font-size: 1.4rem;
  font-weight: 500;
}

.sectionLabel {
  margin: 3rem 0 0 0;
  text-align: left;
  font-size: 1.2rem;
  color: $black;
  text-transform: uppercase;
  font-weight: 500;
}

.helpText {
  color: lighten($azure, 10%);
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
}

.profileHelpText {
  font-weight: 300;
  font-size: 1rem;
}

.profileNameHeader {
  font-size: 1.5rem;
  text-align: center;
}

.errorMessage {
  color: $fire-red;
}

.forgotPassword {
  display: block;
  padding: 10px 0px 20px 0px;
}

.loginHeader {
  font-size: 1.8rem;
  color: darken($azure, 20%);
  margin-top: 3rem;

  @media (max-width: $screen-sm-min) {
    margin-top: 1rem;
  }
}

.keywordsContainer {

  .keywordsInputContainer {
    margin-top: 0.5rem;
    padding: 0px !important;
  }

  .selectedKeywordsContainer {
    margin-top: 0.5rem;
    width: 100%;
  }
}

.loginContainer {
  padding-top: 1rem;
  text-align: center;

  @media (max-width: $screen-sm-min) {
    padding-top: 0.5rem;
  }

  > p {
    font-size: 1.5rem;
    color: $fire-red;

    @media (max-width: $screen-sm-min) {
      font-size: 1rem;
      margin: 0px;
    }
  }
}

.touchIcon {
  cursor: pointer;
  margin: 1rem 0;
  text-align: left;
}

.shiftSchedulerForm {

  .sectionLabel {
    margin-bottom: 1rem;
  }
}

.dateWithShiftsContainer {
  position: relative;
  margin-bottom: 2rem;
  padding: 2rem 1rem 1rem 1rem;
  border: 1px solid $light-grey;

  > hr {
    background-color: $black !important;
  }
}

.dateShiftContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  .textFieldContainer {
    flex: 1 0 80%;
  }
}

.shiftContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.removeDateContainer {
  position: absolute;
  top: 0;
  right: 1rem;
}

.removeShiftContainer {
  margin-left: 1rem;
}

.dateShiftPicker, .shiftPicker {
  display: flex;
  text-align: left;
  align-items: baseline;

  > div:first-of-type {
    margin-right: 1rem;
  }
}

.shiftTimePicker {
  max-width: 5rem;
}

.dateshiftPicker {
  max-width: 6rem;
}

.shiftsContainer {
  display: flex;
  align-items: baseline;
}

.shiftLabel {
  flex: 1 0 20%;
}

.shiftInputsContainer {
  flex: 1 0 80%;
}

.addDate {
  cursor: pointer;
  border: 1px solid $azure;
  color: $azure;
  padding: 0.5rem;

  svg {
    color: $azure !important;
  }
}

.textFieldInlineGroup {
  display: flex;
  justify-content: flex-start;

  .textFieldContainer {
    margin-right: 2rem;
  }
}

.editProfileContainer {
  width: 100%;
  display: flex;

  .leftContainer {
    flex: 1 0 auto;
    width: 28%;
    margin-right: 2%;
  }

  .rightContainer {
    flex: 1 0 auto;
    width: 70%;
  }
}

.editProfileBox {
  padding: 1rem;
  border: 1px solid $light-grey;
}

.activitiesContainer {
  margin-top: 1rem;

  .inlineTogglesContainer {
    text-transform: capitalize;
  }
}

