@import '~styles/variables';
@import '~styles/buttons';
@import '~styles/modals';

.outerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.innerContainer {
  display: block;
  text-align: center;
  max-width: 80%;
  min-width: 55%;

}

.formContainer {
  padding: 10px 50px 20px 50px;
}

.form {
  text-align: center;
}

.button {
  margin: 30px 10px 10px 10px;
  display: inline-block;
}

.organizeButton {
  
  @extend .button;
  @extend .primaryButton;
}

.signupButton {
  @extend .secondaryButton;
  @extend .button;
  margin: 10px 10px 30px 10px;
}

.textFieldContainer {
  display: flex;
  text-align: left;

  input, label {
    font-size: 1.1rem !important;
  }
}

.textFieldContainer.centered {
  justify-content: center;
}

.textareaContainer {
  margin-top: 1rem;
  border: 1px solid darken($white, 20%);
  padding: 1rem;
}

// Annoying hack to line up hint text with textarea input
.textareaContainer div:first-child div:first-child {
  bottom: inherit !important;
  top: 12px !important;
}

.toggleContainer {
  font-size: 1.1rem;
  max-width: 12rem;
}

.loginButton {
  margin-top: 20px;
}

.helpText {
  color: lighten($azure, 10%);
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
}

.sectionLabel {
  margin: 3rem 0 0 0;
  text-align: left;
  font-size: 1.3rem;
  color: $azure;
}

.forgotPassword {
  display: block;
  padding: 10px 0px 20px 0px;
}
