@import '~styles/variables';
@import '~styles/buttons';

.outerHeaderContainer {
  width: 100%;
  background-color: $denim;
}

.header {
  display: flex;
  color: $white;
  align-items: center;
  justify-content: flex-end;
  max-width: $max-content-width;
  position: relative;
  margin: 0 auto;
}

.volunteerHeader {
  @extend .header;
  color: $black;
  justify-content: space-between;
  align-items: baseline;
}

.browseHeader {
  @extend .header;
  color: $black;
  background-color: $medium-grey;
  justify-content: space-between;

  .linksContainer > div {
    margin: 1rem;
  }
}

.logoContainer {
  background-color: $fire-red;
  color: $white;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.linksContainer {
  display: flex;

  > div {
    margin: 0rem 0rem 0rem 1rem;
  }
}

.menuItemsContainer {
  display: flex;
  align-items: baseline;

  > div {
    margin: 1rem 0rem 0.5rem 1rem;
  }
}

svg.accountIcon {
  color: $white !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  padding-right: 0.55rem;
}

.headerButton {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1.22rem;
  line-height: 1.22rem;

  > span {
    display: block;
  }

  > svg {
    position: absolute !important;
    color: $white !important;
    top: 0.1rem;
    height: 4rem !important;
    width: 4rem !important;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}


@media (max-width: $screen-md-min) {
}
