@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';

.outerContainer {
  width: 100%;

  .tabsOuterContainer {
    width: 100%;
    background-color: darken($white, 5%);
    border-bottom: 1px inset darken($white, 25%);
    box-shadow: 0px 2px 1px 1px darken($white, 10%);;
  }

  .tabsInnerContainer {
    max-width: $max-content-width;
    margin: auto;
  }

  .tabs {
    width: 100%;
    max-width: 25rem;
    
    > div {
      background: none !important;
    }
  }

  .tab {
    color: $brick-red !important;
    font-weight: 500 !important;
    text-transform: none !important;
    font-size: 1.3rem !important;
    padding: 1rem 0rem 0.1rem 0rem !important;
  }

  .activeTab {
    @extend .tab;
    color: $black !important;
  }

  .searchContainer {
    overflow: hidden;
    padding-bottom: 2rem;

    > div {
      background-color: $white;
      min-height: 100vh;
      position: relative;
      overflow: hidden;

      @media (min-width: $screen-lg-min) {
        top: 1rem;
        max-width: $max-content-width;
        margin: 0rem auto;
      }
    }
  }
}
