@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';
@import '~styles/tabs';

.outerContainer {
  width: 100%;

  .searchContainer {
    overflow: hidden;
    padding-bottom: 2rem;

    > div {
      position: relative;
      overflow: hidden;
      max-width: $max-content-width;
      margin: 0 auto;
    }
  }
}
