@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';

.outerContainer {
  width: 100%;

  .tabs {
    width: 100%;
    max-width: 25rem;
    
    > div {
      background: none !important;
    }
  }

  .tab {
    color: $brick-red !important;
    font-weight: 500 !important;
    text-transform: none !important;
    font-size: 1.3rem !important;
    padding: 1rem 0rem 0.1rem 0rem !important;
  }

  .activeTab {
    @extend .tab;
    color: $black !important;
  }

  .searchContainer {

    @media (min-width: $screen-md-min) {
      background-color: darken($white, 5%);
    }

    > div {
      background-color: $white;
      min-height: 100vh;
      position: relative;

      @media (min-width: $screen-md-min) {
        top: 1rem;
        max-width: 900px;
        margin: 0rem auto;
      }
    }
  }
}
