@import '~styles/variables';
@import '~styles/buttons';

.imageUploadContainer {
  max-height: 450px;
  max-width: 450px;
  margin: 0px auto 5rem auto;
}

.cropContainer {
  width: 100%;
  text-align: center;
}

.reactCropContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  .button {
    margin: auto 2rem auto 2rem !important;
  }
}

.uploadingThrobberContainer {
  width: 100%;
  text-align: center;
}

.fileDropContainer {
  display: flex;
  position: relative;
  text-align: center;
  border: 3px dashed $black;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vw;
  max-height: 450px;
  max-width: 450px;

  .instructions {
    margin: 10%;
  }

  img {
    max-width: 100%;
  }

  .addImageButton {
    position: absolute !important;
    left: 0.5em !important;
    top: 0.5em !important;
  }

  .removeImageButton {
    position: absolute !important;
    right: 0.5em !important;
    top: 0.5em !important;
  }
}
