@import '~styles/variables';

.outerContainer {
  width: 100%;
  margin-bottom: 5rem;

  .organizeNavHeader {
    width: 100%;
    display: flex;
    color: $brick-red;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
  }

  .campaignHeader, .actionHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: $azure;
    color: darken($white, 5%) !important;
    font-size: 2rem;
    font-weight: 300;

    :global .material-icons {
      color: darken($white, 5%) !important;
    }

    .backArrow {
      position: absolute !important;
      left: 2rem !important;
    }
  }

  .actionHeader {
    color: darken($azure, 10%) !important;
    background-color: lighten($azure, 40%);
  }

  .campaignSubHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $azure !important;
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem auto 2rem auto;

    :global .material-icons {
      color: $azure !important;
    }
  }

  .pageSubHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $azure !important;
    min-height: 3rem;
    font-size: 2rem;
    font-weight: 300;
  }

  .navSubHeader {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: lighten($azure, 10%) !important;
    min-height: 3rem;
    font-size: 2rem;
    font-weight: 300;

    :global .material-icons {
      color: lighten($azure, 10%) !important;
    }
  }

  .savingThrobberContainer {
    width: 100%;
    text-align: center;
  }

  .organizeButton {
    text-align: center;

    button {
      background-color: lighten($brick-red, 25%) !important;
      
      span {
        color: darken($brick-red, 10%) !important;
      }
    }
  }

  .textField div {
    text-align: center !important;
    width: 100%;
  }

  .editCampaignProfileContainer {
    width: 90%;
    margin: 1rem 5% 0 5%;
  }

  .editDescriptionContainer {
    padding: 5rem 1rem 1rem 1rem;
  }

  .editTitleContainer {
    padding: 1rem;
    border: 1px solid rgba($black, 0.1);

    div,input {
      text-align: center !important;
    }

    input {
      font-size: 2rem !important;
      color: darken($azure, 10%) !important;
    }
  }


  .editSubheaderContainer {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid rgba($black, 0.1);

    div,input {
      text-align: center !important;
    }

    input {
      color: $azure !important;
      font-size: 2rem !important;
    }
  }


  .editWebsiteUrlContainer {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid rgba($black, 0.1);

    div,input {
      text-align: center !important;
    }

    input {
      color: $brick-red !important;
    }
  }

  .actionListTitle {
    color: $azure;
    font-size: 1.8rem;
    padding: 1rem;
  }

  .actionListDetailLine {
    color: lighten($black, 30%);
    font-size: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
  }
}
