@import '~styles/variables';

.outerContainer {
  width: 100%;
  margin-bottom: 5rem;

  .organizeNavHeader {
    width: 100%;
    display: flex;
    color: $brick-red;
    height: 5rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid lighten($black, 60%);

    :global .material-icons {
      margin-left: 2rem;
      margin-right: 2rem;
      color: darken($white, 30%) !important;
    }
  }

  .organizeHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 5rem;
    color: $brick-red !important;
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 1px solid lighten($black, 60%);
  }

  .campaignHeader, .actionHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 3rem;
    padding: 1rem 0px;
    color: $azure !important;
    font-size: 2rem;
    font-weight: 300;
    border-bottom: 1px solid lighten($black, 60%);

    :global .material-icons {
      color: darken($white, 30%) !important;
    }

    .backArrow {
      position: absolute !important;
      left: 2rem !important;
    }
  }

  .actionHeader {
    border-bottom: none;
    font-weight: 400;
    color: lighten($azure, 20%) !important;
  }

  .campaignSubHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: $azure !important;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem auto 2rem auto;

    :global .material-icons {
      color: $azure !important;
    }
  }

  .pageSubHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: $azure !important;
    min-height: 3rem;
    padding: 1rem 0px;
    font-size: 2rem;
    font-weight: 400;
  }

  .navSubHeader {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: lighten($azure, 10%) !important;
    min-height: 3rem;
    padding: 1rem 0px;
    font-size: 2rem;
    font-weight: 300;
    border-bottom: 1px solid lighten($black, 60%);

    :global .material-icons {
      margin-left: 2rem;
      margin-right: 2rem;
      color: lighten($azure, 10%) !important;
    }
  }

  .savingThrobberContainer {
    width: 100%;
    text-align: center;
  }

  .organizeButton {
    text-align: center;

    button {
      background-color: lighten($brick-red, 25%) !important;
      
      span {
        color: darken($brick-red, 10%) !important;
      }
    }
  }

  .textField div {
    text-align: center !important;
    width: 100%;
  }

  .editCampaignProfileContainer {
    width: 90%;
    margin: 1rem 5% 0 5%;
  }

  .editDescriptionContainer {
    padding: 5rem 1rem 1rem 1rem;
  }

  .editTitleContainer {
    padding: 1rem;
    border: 1px solid rgba($black, 0.1);

    div,input {
      text-align: center !important;
    }

    input {
      font-size: 2rem !important;
      color: darken($azure, 10%) !important;
    }
  }


  .editSubheaderContainer {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid rgba($black, 0.1);

    div,input {
      text-align: center !important;
    }

    input {
      color: $azure !important;
      font-size: 2rem !important;
    }
  }


  .editWebsiteUrlContainer {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid rgba($black, 0.1);

    div,input {
      text-align: center !important;
    }

    input {
      color: $brick-red !important;
    }
  }

  .actionListTitle {
    color: $azure;
    font-size: 1.8rem;
    padding: 1rem;
  }

  .actionListDetailLine {
    color: lighten($black, 30%);
    font-size: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
  }

  .settingsLinkContainer {
    position: absolute;
    display: flex;
    right: 1rem;
    margin-top: -3rem;
    align-items: center;
    justify-content: center;

    span {
      margin-left: 1rem;
    }
  }

  .composeMessageButtonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
