@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';
@import '~styles/modals';

.outerContainer {
  width: 100%;
  max-width: $max-content-width;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0rem auto 0rem auto;

  .savingThrobberContainer {
    width: 100%;
    text-align: center;
  }

  .organizeButton {
    text-align: center;
    @extend .primaryButton;
  }

  .saveButton {
    margin-top: 2rem;
  }

  .textField div {
    text-align: center !important;
    width: 100%;
  }

  .editCampaignProfileContainer,
  .editActionProfileContainer {
    width: 90%;
    margin: 1rem 5% 0 5%;
  }

  .editDescriptionContainer {
    padding: 5rem 1rem 1rem 1rem;
  }

  .editTitleContainer {
    padding: 1rem;
    border: 1px solid rgba($black, 0.1);

    div,input {
      text-align: center !important;
    }

    input {
      font-size: 2rem !important;
      color: darken($azure, 10%) !important;
    }
  }

  .editSubheaderContainer {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid rgba($black, 0.1);

    div,input {
      text-align: center !important;
    }

    input {
      color: $azure !important;
      font-size: 2rem !important;
    }
  }


  .editWebsiteUrlContainer {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid rgba($black, 0.1);

    div,input {
      text-align: center !important;
    }

    input {
      color: $brick-red !important;
    }
  }

  .actionListTitle {
    color: $azure;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 1rem;
    padding: 0rem 1rem; 
  }

  .actionListDetailLine {
    color: lighten($black, 30%);
    font-size: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
  }

  .settingsLinkContainer {
    position: absolute;
    display: flex;
    right: 1rem;
    margin-top: -3rem;
    align-items: center;
    justify-content: center;

    span {
      margin-left: 1rem;
    }
  }

  .composeMessageButtonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shiftsSelector {
    margin-left: 1rem;
  }

  .campaignsList {
    margin-top: 3rem;
  }

  .keywordsContainer {
  }

  .keywordsInputContainer {

    width: 50%;
    margin: 0rem 0rem 1rem 0rem;

    >div:first-of-type {
      padding: 0px;
    }
  }

  .stepperOuterContainer {
    display: flex;
  }

  .stepperContainer {
    flex: 1;
    background-color: $light-grey;
    border: 1px solid $dark-grey;
    z-index: 100;
  }

  .stepperContentContainer {
    flex: 3;
  }
}
