
@import '~styles/variables';
@import '~styles/nav';
@import '~styles/sections';
@import '~styles/headers';

.root {
  h1 {
    @extend .titleContainer;
  }

  h2 {
    font-size: 1.6rem;
    color: $fire-red;
    font-weight: 500;
  }

  h3, strong {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
    color: darken($azure, 5%);
    font-weight: 500;
  }

  p {
    margin-top: 0rem;
    font-size: 1rem;
    color: lighten($black, 30%);
    font-weight: 400;
  }

  p a {
    text-decoration: underline;
    color: $brick-red;
    font-style: normal;
    padding: 0px !important;
  }
}

.container {
  background-color: $white;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0rem 1.5rem 3rem 1.5rem;
  max-width: $max-content-width;
}

.privacyContainer {
  margin-top: 1rem;
  border: 1px solid darken($white, 20%);
  padding: 0rem 1rem;
}

.termsContainer {
  @extend .container;
  max-height: 55vh;
  overflow-y: scroll;
  text-align: left;
  border: 1px solid darken($white, 20%);
}

.homeContentSection {
  position: relative;
  width: 100vw;
  min-height: 20rem;
  color: $white;
  font-weight: 500;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 0.15em rgba(0, 0, 0, 0.5);
  padding: 6rem 0 4rem 0;

  .fullContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-content-width;
    width: 90%;
    z-index: 3;
  }

  .halfContainer {
    flex: 1 0 50%;
  }

  .contentTitle {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .contentText {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .homeButtonContainer {
    text-align: center;

    .homeButton {
      text-transform: uppercase;
      background-color: $red !important;
      color: $white !important;
      width: 80%;
      max-width: 20rem;
      height: 2.3rem !important;
      line-height: 2.3rem !important;

      span {
        font-size: 1.2rem !important;
        font-weight: 300 !important;
      }
    }
  }

  .linkContainer {
    a {
      color: darken($white, 25%);
    }
  }
}

.homeContentSectionDarkened:before {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.homeContentSection1 {
  @extend .homeContentSection;
  @extend .homeContentSectionDarkened;
  background-image: url(img/background-image-1.jpg);
}

.homeContentSection2 {
  @extend .homeContentSection;
  background-color: #01707b;
}

.homeContentSection3 {
  @extend .homeContentSection;
  @extend .homeContentSectionDarkened;
  background-image: url(img/background-image-2.jpg);
}

.homeContentSection4 {
  @extend .homeContentSection;
  background-color: $red;
  min-height: 12rem;
  padding: 4rem 0 4rem 0;

  .fullContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $screen-xs-min) {
      display: block;
    }
  }

  .homeButtonContainer button.homeButton {
    background-color: #003c4c !important;
    width: 20rem !important;
  }

  .contentTitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .contentText {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }


}

.homeContentSection5 {
  @extend .homeContentSection;
  background-color: $white;
  color: lighten($black, 10%);
  text-shadow: none;
  min-height: 12rem;
  padding: 4rem 0 4rem 0;

  .contentTitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .contentText {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}

.innerContainer {
  background-color: $white;
}
