@import '~styles/variables';
@import '~styles/buttons';
@import '~styles/modals';

.outerContainer {
  width: 100%;
  margin-bottom: 4rem;

  .innerContainer {
    width: 90%;
    margin: 1rem 5% 0 5%;

    .campaignHeader {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: $azure;
      font-size: 1.6rem;
      text-align: center;
      align-items: center;
    }

    .titleContainer {
      color: darken($azure, 20%);
      padding: 1rem;
      font-size: 2.5rem;
      font-weight: 500;
      margin-top: 1rem;
      text-align: center;
    }

    .profileHeaderContainer {
      position: relative;

      .settingsIcon {
        top: 0px;
        right: 0px;
        position: absolute;

        :global .material-icons {
          font-size: 3rem !important;
          color: darken($white, 45%) !important;
        }
      }
    }

    .profileImageContainer {
      padding: 1rem;
      font-size: 1.6rem;
      text-align: center;

      img {
        max-width: 50%;
      }
    }

    .profileSubheaderContainer {
      color: lighten($azure, 10%);
      padding: 1rem;
      font-size: 2rem;
      margin-top: 1rem;
      text-align: center;
      font-weight: 500;
    }

    .dateTimePlaceContainer {
      color: lighten($azure, 10%);
      font-size: 1.2rem;
    }

    .websiteUrlContainer {
      text-align: center;
      font-size: 1.2rem;
      padding: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        color: $brick-red !important;
      }
    }

    .contactContainer {
      font-size: 1.2rem;
      color: $fire-red;
      margin-top: 2rem;

      a { 
        color: $fire-red;
        margin-left: 1rem;
      }
    }

    .header {
      color: lighten($azure, 10%);
      font-size: 1.5rem;
      font-weight: 500;
      margin: 2rem 0 0rem 0;
    }

    .detailLine {
      color: darken($azure, 20%);
      font-size: 1.2rem;
    }

    .detailLine.actionListing {
      margin: 1rem 0 0 0;
    }

    .descriptionContainer {
      border: 1px solid darken($white, 20%);
      padding: 1rem;
      margin: 2rem auto;
      color: $azure;
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .attendingContainer, .subscribedContainer {
      text-align: center;
      margin: 1rem auto 1rem auto;

      @extend .primaryButton;

      .calendarLinkContainer {
        margin-bottom: 1rem;

        button {
          background-color: transparent !important;
        }
      }
    }
  }
}
