@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';
@import '~styles/modals';
@import '~styles/sections';
@import '~styles/tags';
@import '~styles/headers';

.outerContainer {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto 4rem auto;
}

.button {
  margin: 2rem 2rem 0;
}

.smallText {
  font-size: 0.8rem;
  margin: 0 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    color: $black;
  }
}

.bodyText {
  font-size: 1.2rem;
  margin: 0 2rem;
}

.sectionHeaderContainer {
  background-color: $white;
  margin-bottom: 1rem;
}

.actionTitleSignupContainer {
  display: flex;
  justify-content: space-between;
}

.actionHeaderContainer {
  flex: 3 0;
  display: inline-block;
  margin: 1rem 0;
}

.actionTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding-top: 1rem;
}

.actionSubheader {
  font-size: 1rem;
}

.desktopSignupRegisterLogin {
  display: inline-block;
  flex: 1 0;
  font-size: 1.2rem;
  padding: 1rem 1rem 0;
}

.actionDetailsContainer {
  padding-top: 2rem;

  .actionDetailsTitle {
    color: #1a1a1a;
    font-size: 1rem;
    margin: 1rem 0 1rem 2rem;
    font-weight: 500;
  }

  .actionDetailsContent {
    font-size: 1rem;
    margin: 1rem 2rem;
  }
}

.detailsNumbersContainer {
  display: flex;
  justify-content: space-evenly;

  .detailsNumbers {
    text-align: center;
  }

  .detailsNumbersHeader {
    font-size: 0.8rem;
  }

  .detailsNumbersNumber {
    font-size: 2rem;
    color: $brick-red;
  }
}

.shiftDateGroup {
  margin-bottom: 1rem;
}

.alternatingBackgroundsContainer > div:nth-of-type(even) {
  margin: 0 -9999rem;
  padding-left: 9999rem;
  padding-right: 9999rem;
  // background-color: $light-grey;
}

.campaignHeader {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $azure;
  font-size: 1.6rem;
  text-align: center;
  align-items: center;
}

.profileHeaderContainer {
  position: relative;

  .settingsIcon {
    top: 0px;
    right: 0px;
    position: absolute;

    :global .material-icons {
      font-size: 3rem !important;
      color: darken($white, 45%) !important;
    }
  }
}

.profileImageContainer {
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;

  img {
    max-width: 50%;
  }
}

.profileSubheaderContainer {
  color: lighten($azure, 10%);
  padding: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
}

.dateTimePlaceContainer {
  color: lighten($azure, 10%);
}

.websiteUrlContainer {
  text-align: center;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    color: $brick-red !important;
  }
}

.contactContainer {
  color: $fire-red;
  margin-top: 2rem;

  a {
    color: $fire-red;
    margin-left: 1rem;
  }
}

.header {
  color: lighten($azure, 10%);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 0 0rem 0;
}

.listHeader {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.listContent {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.detailLine {
  color: darken($azure, 20%);
}

.detailLine.actionListing {
  margin: 1rem 0 0 0;
}

.descriptionContainer {
  border: 1px solid darken($white, 20%);
  padding: 1rem;
  margin: 2rem auto;
  color: $azure;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attendingContainer, .subscribedContainer {
  text-align: center;
  margin: 1rem auto;

  .calendarLinkContainer {
    margin-bottom: 1rem;

  }
}

.infoBox {
  background-color: $white;
  border: 1px solid $medium-light-grey;
  padding: 1rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.infoBoxHeader {
  color: $dark-grey;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
