@import '~styles/variables';

.outerContainer {
  width: 100%;

  .titleContainer {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 1rem 0;
  }

  .searchBarContainer {
    display: block;
    text-align: center;
    padding: 0 10%;

    >form {
      border: 1px solid lighten($black, 10%);
    }

    :global .searchBarInput {
      width: 80% !important;
    }
  }

  .countSortFilterContainer {
    display: flex;
    align-items: baseline;
    font-size: 1.2rem;

    .countContainer {
      color: $brick-red;
      width: 30%;
      font-size: 1.2rem;

      >span {
        padding: 0 0 0 1rem;
      }
    }

    .sortContainer {
      width: 35%;
      font-weight: 400;

      >button {
        top: 0.5rem;
      }
    }

    .filterContainer {
      width: 35%;
      font-weight: 400;

      >button {
        top: 0.5rem;
      }
    }
  }

  .resultsContainer {

    .subheaderContainer {
      color: lighten($azure, 20%);
    }

    .locationContainer {
      color: darken($white, 30%);
    }

    .descriptionContainer {
      white-space: pre-wrap;
    }
  }

  .loadingContainer {
    text-align: center !important;
    width: 100%;
  }
}

.popover {
  width: 22rem;
  z-index: 1900;

  :global .togglesListContainerItem {
    max-height: 20rem;
  }
}

.listItem {
  padding: 1rem;
}

.listItem.searchBar {
  >form >div {
    width: auto !important;

    :global .searchBarInput {
      width: 80% !important;
    }
  }
}

.geographySearchContainer >form {
  position: relative;
  margin-top: -2rem;
}

.sortSelected {
  background-color: darken($white, 10%) !important;
}
