@import '~styles/variables';

.outerContainer {
  width: 100%;

  .titleContainer {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 500;
    color: darken($azure, 20%) !important;
  }

  .searchBarContainer {
    display: block;
    text-align: center;
    padding: 0 10%;

    >form {
      border: 1px solid darken($white, 30%);
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    :global .searchBarInput {
      width: 80% !important;
      height: 2rem !important;
      font-size: 1.2rem !important;

      div:first-child {
        line-height: 2rem !important;
        bottom: inherit !important;
        font-style: italic;
      }
    }
  }

  .countSortFilterContainer {
    display: flex;
    align-items: baseline;
    font-size: 1rem;
    text-align: center;

    .countContainer {
      color: $brick-red;
      width: 30%;
      font-size: 1rem;

      >span {
        padding: 0 0 0 1rem;
      }
    }

    .sortContainer {
      width: 35%;
      font-weight: 400;

      >button {
        top: 0.5rem;
      }
    }

    .filterContainer {
      width: 35%;
      font-weight: 400;

      >button {
        top: 0.5rem;
      }
    }
  }

  .resultsContainer {

    width: 100%;
    overflow-x: hidden;

    .resultsHeader {
      font-size: 1rem;
      font-weight: 400 !important;
      padding-left: 3rem !important;
      padding-right: 3rem !important;

      @media (max-width: $screen-xs-min) {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }

      >div:first-of-type {
        >span:first-of-type {
          font-size: 1.4rem !important;
          color: darken($azure, 20%) !important;
        }
      }
    }

    .campaignLink, .subheaderContainer {
      color: lighten($azure, 20%);
    }

    .locationContainer {
      color: darken($white, 30%);
    }

    .descriptionContainer {
      white-space: pre-wrap;
    }
  }

  .loadingContainer {
    text-align: center !important;
    width: 100%;
  }
}

.popover {
  width: 22rem;
  z-index: 1900;

  :global .togglesListContainerItem {
    max-height: 20rem;
  }
}

.listItem {
  padding: 1rem;
}

.listItem.searchBar {
  >form >div {
    width: auto !important;

    :global .searchBarInput {
      width: 80% !important;
    }
  }
}

.geographySearchContainer >form {
  position: relative;
  margin-top: -2rem;
}

.sortSelected {
  background-color: darken($white, 10%) !important;
}
