@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';

.outerContainer {
  width: 100%;

  .searchContentContainer {
    display: flex;
  }

  .desktopFiltersContainer {
    display: none;

    .filterHeaderContainer {
      padding: 1rem;

      .filterHeader {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }

    @media (min-width: $screen-lg-min) {
      display: inline-block;
      width: 25%;
    }
  }

  .allSizesContainer {
    display: block;
    width: 100%;

    @media (min-width: $screen-lg-min) {
      border-left: 1px solid darken($white, 9%);
      display: inline-block;
      width: 75%;
    }
  }

  .searchBarContainer {

    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 1rem 0rem 2rem 0rem;

    .searchBar {
      flex: 4;
    }

    .mobileFilterContainer {
      font-weight: 400;
      display: block;
      padding: 0 1rem;

      @media (min-width: $screen-lg-min) {
        display: none;
      }

      >button {
        top: 0.5rem;
      }
    }
  }

  .selectionsResultsContainer {
    flex: 2;
  }

  .selectionsContainer {
    padding: 0rem 1rem;
  }

  .filterOverlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
  }

  .filterOptionsContainer {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: $white;
    z-index: 2;

    .filterHeaderContainer {
      text-align: center;
      padding: 1rem;
      position: relative;

      .filterHeader {
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
      }

      .doneButtonContainer {
        position: absolute;
        right: 1rem;
      }
    }
  }

  .filterResultsOuterContainer {
    display: block;

    @media (min-width: $screen-sm-min) {
      display: flex;
    }
  }

  .resultsContainer {

    width: 100%;
    overflow-x: hidden;

    .card {
      box-shadow: none !important;
    }

    .resultsHeader {
      font-size: 0.722rem !important;
      line-height: 1rem !important;
      font-weight: 400 !important;
      padding: 1.111rem 3rem 1.111rem 3rem !important;
      margin-left: 2.777rem;

      @media (max-width: $screen-xs-min) {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }

      img {
        width: 2.222rem !important;
        height: 2.222rem !important;
        position: absolute;
        margin-right: 0.555rem !important;
        margin-left: -2.777rem;
      }

      >div:first-of-type {
        @media (max-width: $screen-xs-min) {
          padding-right: 0px !important;
        }

        >span:first-of-type {
          font-size: 1.111rem !important;
          line-height: 1.4rem !important;
          color: darken($azure, 5%) !important;
          font-weight: 500;
          margin-bottom: 0.277rem;
        }
      }
    }

    .subheaderContainer {
      color: $fire-red;
      font-weight: 500;
      font-size: 0.777rem !important;
      white-space: normal !important;
      display: inline-block;
      margin-top: 0rem;
    }

    .locationContainer {
      color: darken($white, 30%);
      font-size: 0.722rem !important;
      line-height: 1rem !important;
    }

    .descriptionContainer {
      white-space: pre-wrap;
    }
  }

  .loadingContainer {
    text-align: center !important;
    width: 100%;
    margin: 2rem 0px;
  }
}

.popover {
  width: 22rem;
  z-index: 1900;

  :global .togglesListContainerItem {
    max-height: 20rem;
  }
}

.searchInputsList {
  padding: 0px 0px !important;

  > div {
    padding-right: 5%;
  }
}

.listItemContainer, .listItemContainer >div:first-of-type >span:first-of-type {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.listItemContainer >div:first-of-type >div:first-of-type {
  max-height: inherit !important;
  overflow-y: inherit !important;
}
 
.listItemContainer button svg {
  color: $brick-red !important;
}

.listItem {
  padding: 1rem;
  font-size: 0.772rem !important;
  line-height: 1.222rem !important;
  font-weight: 400 !important;
}

.dateSearchContainer, .geographySearchContainer {
  padding: 1rem 2rem;
}

label.listItem {
  margin-left: 1rem !important;
  padding: .8rem 1rem .8rem 5rem !important;
  display: flex !important;
  align-items: center;

  >div:first-of-type {
    top: inherit !important;
  }
}

.sortSelected {
  background-color: darken($white, 10%) !important;
}

.dateSearch {
  font-size: 1.4rem;
}

.checkboxContainer {
  margin-bottom: 1rem;
}

.addToSearchButton {
  text-align: right;
  margin: 1rem 0rem 0rem 0rem;
}
