@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';

.outerContainer {
  width: 100%;

  .searchContentContainer {
    border: 1px solid darken($white, 9%);
  }

  .searchBarContainer {

    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 1rem 0rem;

    .searchBar {
      flex: 4;
    }

    .filterContainer {
      font-weight: 400;
      display: block;
      padding: 0 1rem;

      >button {
        top: 0.5rem;
      }
    }
  }

  .selectionsResultsContainer {
    flex: 2;
    @media (min-width: $screen-sm-min) {
      border: 1px solid darken($white, 9%);
      border-top: none;
    }
  }

  .filterOptionsContainer {

    position: absolute;
    width: 100%;
    background-color: $white;
    z-index: 2;

    .filterHeaderContainer {
      text-align: center;
      padding: 1rem;
      position: relative;

      .filterHeader {
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
      }

      .doneButtonContainer {
        position: absolute;
        right: 1rem;
      }
    }
  }

  .filterResultsOuterContainer {
    display: block;

    @media (min-width: $screen-sm-min) {
      display: flex;
    }
  }

  .resultsContainer {

    width: 100%;
    overflow-x: hidden;

    .card {
      box-shadow: none !important;
    }

    .resultsHeader {
      font-size: 0.8rem;
      font-weight: 400 !important;
      padding: 0.5rem 3rem 0.5rem 3rem !important;

      @media (max-width: $screen-xs-min) {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }

      >div:first-of-type {
        >span:first-of-type {
          font-size: 1.4rem !important;
          color: darken($azure, 5%) !important;
          font-weight: 500;
        }
      }
    }

    .subheaderContainer {
      color: $fire-red;
      font-size: 1.2rem;
      font-weight: 500;
      white-space: normal !important;
      display: inline-block;
      margin-top: 0rem;
    }

    .locationContainer {
      color: darken($white, 30%);
    }

    .descriptionContainer {
      white-space: pre-wrap;
    }
  }

  .loadingContainer {
    text-align: center !important;
    width: 100%;
    margin: 2rem 0px;
  }
}

.popover {
  width: 22rem;
  z-index: 1900;

  :global .togglesListContainerItem {
    max-height: 20rem;
  }
}

.searchInputsList {
  padding: 0px 0px !important;

  > div {
    padding-right: 5%;
  }
}

.listItemContainer, .listItemContainer >div:first-of-type >span:first-of-type {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.listItemContainer >div:first-of-type >div:first-of-type {
  max-height: inherit !important;
  overflow-y: inherit !important;
}
 
.listItemContainer button svg {
  color: $brick-red !important;
}

.listItem {
  padding: 1rem;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.dateSearchContainer, .geographySearchContainer {
  padding: 1rem 2rem;
}

label.listItem {
  margin-left: 1rem !important;
  padding: .8rem 1rem .8rem 5rem !important;
  display: flex !important;
  align-items: center;

  >div:first-of-type {
    top: inherit !important;
  }
}

.sortSelected {
  background-color: darken($white, 10%) !important;
}

.dateSearch {
  font-size: 1.4rem;
}

.checkboxContainer {
  margin-bottom: 1rem;
}

.addToSearchButton {
  text-align: right;
  margin: 1rem 0rem 0rem 0rem;
}
