@import '~styles/variables';
@import '~styles/nav';
@import '~styles/sections';

.outerContainer {
  width: 100%;
  overflow-x: hidden;
  max-width: $max-content-width;
  margin: 0rem auto 5rem auto;
}

.sectionHeaderContainer {
  background-color: $white;
}

.sectionHeader {
  // margin-top: 2rem;
  // font-size: 1.4rem;
  // font-weight: 500;
}

