@import '~styles/variables';
@import '~styles/nav';

.outerContainer {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 5rem;
}

.innerContainer {
  width: 90%;
  margin: 1rem 5% 0 5%;
}

.sectionHeader {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: lighten($azure, 20%);
  font-weight: 600;
}

.privacyContainer {
  margin-top: 1rem;
  border: 1px solid darken($white, 20%);
  padding: 0rem 1rem;
}
