@import '~styles/variables';
@import '~styles/buttons';

.buttonContainer {
  display: inline-block;
}

.menu a {
  text-decoration: none !important;
}

.container {
  hr {
    margin: 1rem 0 !important;
  }
}

.header {
  color: $black;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
  text-align: left;
}

.content {
  color: $black;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}

.label {
  font-weight: 500;
  margin-top: 1rem;
}

.checkbox {
  margin: 1rem 0;
}

.shiftCheckbox {
  font-size: 1rem;
  margin: 1rem 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}
