@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';
@import '~styles/modals';
@import '~styles/tabs';

.userProfileContainer {
  display: flex;
  margin-top: 2rem;
}

.leftContent {
  background-color: $white;
  border: 1px solid $medium-light-grey;
  flex: 1;
  font-weight: 300;
  padding-bottom: 1rem;
  text-align: center;
}

.centerContent {
  flex: 2;
  margin-left: 1rem;
}


.infoBox {
  background-color: $white;
  border: 1px solid $medium-light-grey;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
}

.rightContent {
  border-right: 1px solid $grey;
  flex: 1;
  padding: 1rem;
}

.nameHeader {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

.userSubheader {
  margin: 1rem 0;
}

.userDescription {
}

.profileImage {
  border: 2px solid $white;
  border-radius: 50%;
  margin-top: 2rem;
  max-width: 60%;
}

.infoBoxContainer {
  // padding: 1rem;
}

.infoBoxHeader {
  color: $dark-grey;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.keywordsHeader {
  border-top: 1px solid $medium-light-grey;
  color: $grey;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin: 2rem 0 0.5rem;
  padding: 2rem 0 0 2rem;
  text-align: left;
  text-transform: uppercase;
}

.keywordTag {
  background-color: $light-grey !important;
  border-radius: 0.2rem !important;
  border: 1px solid $medium-light-grey !important;
  cursor: pointer !important;
  margin: 0 0 0.5rem 2rem !important;
  padding: 0 0.5rem !important;

  span {
    color: $azure !important;
    padding: 0px !important;
  }
}

.primaryButton {
  width: 80%;
}

.headerButtonsContainer {
  text-align: right;
  margin: 1rem 0;
}
.editProfileButton {

}
