@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';
@import '~styles/modals';
@import '~styles/tabs';

.userProfileContainer {
  display: flex;
  min-height: 100vh;
}

.leftContent {
  flex: 1;
  background-color: $azure;
  color: $white;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
}

.centerContent {
  flex: 2;
  background-color: $light-grey;
  padding: 5%;

  .infoBox {
    background-color: $white;
    border: 1px solid $grey;
  }
}

.rightContent {
  flex: 1;
  border-right: 1px solid $grey;
  padding: 1rem;
}

.nameHeader {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.userSubheader {
  margin: 1rem 0;
}

.userDescription {
  margin: 1rem 0;
}

.profileImage {
  margin-top: 2rem;
  border-radius: 50%;
  border: 2px solid $white;
  max-width: 60%;
}

.infoBoxContainer {
  padding: 1rem;
}

.infoBoxHeader {
  margin: 1rem 0;
  color: $grey;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.keywordsHeader {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $grey;
  font-weight: 500;
  margin-bottom: 1rem;
}

.keywordTag {
  cursor: pointer !important;
  margin-bottom: 0.5rem !important;
  background-color: transparent !important;

  span {
    color: $azure !important;
    padding: 0px !important;
  }
}
