@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';
@import '~styles/modals';

.outerContainer {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 5rem;

  .listTitle {
    color: $azure;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 0rem 1rem; 
  }

  .listSecondaryHeader {
    color: $brick-red;
    font-size: 1.2rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
  }

  .listDetailLine {
    color: lighten($black, 30%);
    font-size: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
  }

  .searchPrompt {
    margin: 0 auto;
    font-size: 1rem;
    padding: 0rem 1.5rem 3rem 1.5rem;
    max-width: $max-content-width;
  }
}
