@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';
@import '~styles/modals';

.outerContainer {
  width: 100%;
  max-width: $max-content-width;
  overflow-x: hidden;
  margin: 0rem auto 5rem auto;

  .headerTitle {
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem;
  }

  .subHeader {
    text-align: left;
    font-size: 1rem;
    margin: 1rem;
  }

  .listTitle {
    color: $azure;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 0rem 1rem; 
  }

  .listSecondaryHeader {
    color: $brick-red;
    font-size: 1.2rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
  }

  .listDetailLine {
    color: lighten($black, 30%);
    font-size: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
  }

  .searchPrompt {
    margin: 3rem auto;
    font-size: 1rem;
    padding: 0rem 1.5rem 3rem 1.5rem;
    max-width: $max-content-width;
    text-align: center;
  }

}
