@import '~styles/variables';
@import '~styles/nav';
@import '~styles/buttons';
@import '~styles/modals';

.outerContainer {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 5rem;

  .actionListTitle {
    color: $azure;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 1rem;
    padding: 0rem 1rem; 
  }

  .actionListDetailLine {
    color: lighten($black, 30%);
    font-size: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
  }
}
