@import '~styles/variables';

.outerContainer {

  display: flex;

  .inputs {
    flex: 1 0 50%;
    padding: 30px;
  }

}

.selectedInputs {
  flex: 0 1 50%;
  padding: 30px;


  .yourSearch {
    font-size: 1.5rem;
  }

}
