@import '~styles/variables';

.container {
  width: 100%;
  display: flex;

  .leftContainer {
    display: inline-block;
    width:20%;
  }

  .rightContainer {
    display: inline-block;
    width: 80%;
  }
}

