@import '~styles/variables';

.outerContainer {
  width: 100%;

  .titleContainer {
    display: block;
    width: 100%;
  }

  .searchBarContainer {
    display: block;
    width: 100%;
  }

  .leftContainer {
    display: inline-block;
    width:20%;
    padding: 1rem;
  }

  .rightContainer {
    display: inline-block;
    width: 80%;
  }
}

