@import '~styles/variables';

.authenticatedIconsContainer {
  display: flex;
}

.accountMenuContainer {
  margin-right: 20px;
}

.flexContainer {
}

.iconButton {
  padding: 0px !important;
  margin: 0 0.3rem !important;
}

.rightIconsContainer {
  display: inline-flex;
  margin-right: 1rem;

  .rightIcon {
    display: inline-flex !important;
    flex: 1;
  }
}

.dropdownContainer {
  margin: -8px 0px;

  hr {
    margin: 0px;
  }
}

.menuIconContainer {
  display: none;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  flex: 1;
  align-items: center;
}

.dropdownItemText {
  color: $brick-red !important;
}


@media (max-width: $screen-sm-min) {
  .menuIconContainer {
    margin-right: 20px;
    display: inline-flex;
  }

  .rightIconsContainer {
    display: none;
  }
}

