@import '~styles/variables';

.authenticatedIconsContainer {
  display: inline-flex;
}

.accountMenuContainer {
  margin-right: 20px;
}

.flexContainer {
  display: flex;
}

.iconButton {
  padding: 0px;
}

.upriseLogo {
  width: 100%;
  height: auto;
}

.dropdownContainer {
  margin: -8px 0px;

  hr {
    margin: 0px;
  }
}

.searchContainer {
  margin-right: 40px;
}

.dropdownItemText {
  color: $brick-red !important;
}

