@import '~styles/variables';

.authenticatedIconsContainer {
  display: inline-flex;
}

.accountMenuContainer {
  margin-right: 20px;
}

.flexContainer {
  display: flex;
}

.iconButton {
  padding: 0px;
}

.upriseLogo {
  width: 100%;
  height: auto;
}

.searchContainer {
  margin-right: 40px;
}

.dropdownItemText {
  display: block;
  padding: 0px 1rem;
  color: $brick-red;
}

