@import '~styles/variables';

.searchByContainer {
  display: inline-flex;

  .searchChips {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .searchChip {
      padding: 0.2rem;
      text-transform: capitalize;
    }
  }
}
