@import '~styles/variables';

.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background: darken($white, 10%);
}

.navItem {
  flex: 1;
  padding: 1rem 0px;
  font-size: 1.3rem;
  text-align: center;
  color: $brick-red;
  text-transform: uppercase;
  background: darken($white, 10%);
  cursor: pointer;
}

.selected {
  border-bottom: 3px solid lighten($brick-red, 30%);
}

.notSelected {
}
