@import '~styles/variables';

.outerContainer {

  display: flex;

  .inputs {
    flex: 1 0 50%;
    padding: 30px;
  }

  .selectedInputs {
    flex: 0 1 50%;
    padding: 30px;


    .yourSearch {
      font-size: 1.5rem;
    }

    .searchByContainer {

      padding: 20px;

      .searchByTitle {
        font-size: 1.5rem;
        text-transform: capitalize;
      }

      .searchChips {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .searchChip {
          padding: 0.2rem;
          text-transform: capitalize;
        }
      }
    }
  }
}

